// tolv
$main_bg: #fff;
$text: #000;
$link_text:#fe672a;
$reg:1px solid rgba(0,0,0,0.3);
$content_text_width:80%;
// paintbox
$gap:2vw;
$card-gap:4vh;
$card-main-font:italic 500 2rem 'Spectral', serif;
$sm-font:.8rem;
