@import "reset";
@import "_variables";
@import "_mixins";

#ref_home{
  background-color: #075725;
  ul{
    display:flex;
    justify-content: space-around;
    align-items: center;
    height:100vh;
    width:100vw;
    li{
      width:200px;
      height:200px;
      a{
        img{
          height:100%;
          width:100%;
        }
      }
    }
  }
}

.upper{
  text-transform: uppercase;
}

#tolv {
  width:100%;
  height:100vh;
  font-family: Georgia, 'Times New Roman', Times, serif;
  
 
  .nav {
    position:fixed;
    top:0;
    display:flex;
    justify-content: space-between;
    // border-bottom:$reg;
    // box-shadow: 0px 1px 50px 50px rgba(0, 0, 0, 0.2);
    width:100%;
    height:5vh;
    .menu {
      width:33%;
      display:flex;
      align-items: center;
      justify-content: space-evenly;
      
      .menu_li{
        display:flex;
        justify-content: space-evenly;
        width:33%;
      }
    } 
    .logo,
    .search {
      width:33%;
      display: flex;
      align-items: center;
      // align-items: center;
    }
    .logo{
      justify-content: center;
      #logo{
        height:100%;
      }      
    }
    .search{
      justify-content: center;
      .fa-solid{
        margin-left:30%;
        font-size:1.5rem;
      }
    }
  }

  .container {
    display:flex;
    flex-direction: column;
    a{
        color:$link_text;
        font-weight: 550;
        text-decoration: underline;
    }
    .content{
      display:flex;
      width:100%;
      height:100vh;
      .photo{
        width:50%;      
        object-fit:cover;
      }
      .text {
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        width:50%;
      }
      .text_main{
        width:$content_text_width;
        font-size:2.8rem;
        font-weight:550;
        line-height: 1.2;
        color:$text;
      }
      
      .text_sub{
        margin-top:5%;
        width:$content_text_width;
        font-size:0.8rem;
        color:$text;
      }
    }
    .message{
      background-color:#efcb56;
      height:100vh;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .message_align{
        width:60%;
        text-align: center;
        line-height: 1.2;
      }
      .message_title{
        font-size: 3rem;
        font-weight: 550;
      }
      .message_main{
        font-size: 1.5rem;        
        margin-top: 1%;
      }
      .message_sub{
        margin-top: 1.5%;
        font-size: 0.8rem;
        
      }

    }
  }
  .ad_link{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-auto-rows: 50vh;
    .item{
      border:1px solid #fff;
      display:flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .item_text{
        margin-top:10%;
        font-size:1.5rem;
      }
          
      &:nth-child(odd){
        background-image: url(https://tolv.dk/wp-content/uploads/2019/07/Figura-chair-blackoak_2-web@2x.jpg);
        background-size: cover;
      }
      &:nth-child(2n){
        background-image: url(https://tolv.dk/wp-content/uploads/2019/07/Inlay-Chair-Lookbook-61-web@2x.jpg);
        background-size: cover;
      }
      &:nth-child(4n){
        background-image: url(https://tolv.dk/wp-content/uploads/2019/07/Bourbon_1-web@2x.jpg);
        background-size: cover;
      }
      &:nth-child(4n+1),
      &:nth-child(12){
        background-image: url(https://tolv.dk/wp-content/uploads/2019/07/Cherry-Sofa-Lookbook-3-web@2x.jpg);
        background-size: cover;
        grid-column-start:span 2;
        }
    }
  }
    
  footer{
    background-color: #535851;
    width:100%;
    height:100vh;
    color:#fff;
    display:grid;
    align-items: end;
    
    #footer{
      padding:10%;
      display:flex;
      flex-direction: column;
      align-items: center;
      .info{
        width:100%;
        display:grid;
        grid-template-columns: repeat(4,1fr);
        justify-content: end;
        gap:30px auto;
        margin-bottom:15%;
        
        .info_menu{
          color:rgba(255, 255, 255, 0.4);
        }
        .info_list{
          margin-bottom:5%;
          &:last-child{
            margin-bottom:0px;
          }
        }
      }
      .copyright{
        width:100%;
        height:5vh;
        display:flex;
        justify-content: center;
        align-items: flex-end;
        
        span{
          width:33%;
          height:100%;
          #logo_icon{
            height:100%;
         }
          &:first-child{
          font-size:0.6rem;
          display:flex;
          align-items: flex-end;
          
          }
          &:nth-child(2){
            text-align: center;
          }
        }
      }
    }
  }
}

#paintbox{
  margin: 0 $gap;
  background-color: #fff;
  font-family: 'Spectral', serif;
  font-weight: 300;
  .btn{
    // width:100%;
    padding:3vh 10vw;
    border: 1px solid #fff;
  }
  .info_bar{
    padding: 2vw 0;
    display:flex;
    justify-content: center;
    align-items: center;
    height:8vh;
    .info_bar_items{
      width:33%;
      font-size:$sm-font;
      &:first-child{
        margin-right:auto;
        a{
          margin-right:$gap;
        }
      }
      &:nth-child(2){
        text-align: center;
        height:100%;
        img{
          height:100%;
          object-fit: contain;
        }
      }
      &:last-child{
        margin-left:auto;
        display:flex;
        justify-content: flex-end;
        a{
          margin-right:$gap;
        }
      }
    }
  }
  #sections{
    section{
      margin: $card-gap 0;
    }
    .card_newest{
      background-image: url(https://cdn.shopify.com/s/files/1/0086/4865/4895/files/Untitled-1_c7130e00-ea87-40e1-a45d-39231d736703_1600x929_crop_center.jpg?v=1666814954);
      background-repeat: no-repeat;
      background-size: 100%;
      display:flex;
      flex-direction: column;
      justify-content:center;
      align-items: center;
      color:#fff;
      padding:5%;
      span{
        text-align: center;
        margin-top:$card-gap;
        width:50%;
        &:first-child{
        font-size:$sm-font;
      }
        &:nth-child(2){
          font:$card-main-font;
        }
        &:last-child{
          font-size: $sm-font;
        }
      }
    }
    .card_info{
      display: flex;
      height: 60vh;
      .card_info_l{
        display:block;
        width: 50%;
        background-image: url(https://cdn.shopify.com/s/files/1/0086/4865/4895/files/Untitled-5_37d32faa-1124-4e55-8e66-a0698bc2f0e9_640x640_crop_center.jpg?v=1661907135);
      }
      .card_info_r{
        background-color: #f3ede8;
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        span{
          text-align: center;
          margin-bottom:$card-gap;
          width:60%;
          font-size:$sm-font;
          display:flex;
          justify-content: center;
          &:first-child{
          }
          &:nth-child(2){
            font: $card-main-font;
          }
          &:last-child{
            white-space: nowrap;
            margin-bottom:0;
          }
        }
        .btn{
          border: 1px solid #000;
        }
      }
    }
  }
}