
@import "_variables";

body{
  background: $bg;
}
  
h2 {
  color: $title_color;
  font-size:$title;
}

.box {
  margin-top : 20px;
  &:hover{
    background-color: green;
  }
  h2{
    color:white;
    &:hover{
      color:blue;
    }
  }
  button {
    color:pink;
  }

}


